.container {
  cursor: pointer;
  position: relative;
  &__titleBlock {
    width: 165px;
    position: relative;
    z-index: 2;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    border-radius: var(--medium-border-radius);
    background-color: var(--dark-white-color);
    &_active {
      background-color: var(--main-color);
    }
  }
  &__title {
    @include text_body();
    color: var(--grey-color);
    text-align: center;
    flex: 1;
    &_active {
      color: var(--body-color);
    }
  }
  &__list {
    z-index: 1;
    position: absolute;
    width: 100%;
    margin-top: calc(var(--medium-border-radius) * -1);
    padding: 0 18px;
    background-color: var(--dark-white-color);
    border-bottom-left-radius: var(--medium-border-radius);
    border-bottom-right-radius: var(--medium-border-radius);
  }
  &__point {
    display: flex;
    column-gap: 10px;
    padding: 12px 0;
    color: var(--grey-color);
    &:first-child {
      padding-top: calc(12px + var(--medium-border-radius));
    }
    &:not(:last-child) {
      border-bottom: 1px solid var(--ultra-light-grey-color);
    }
  }
  &__value {
    @include text_body();
  }
}