.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--dark-white-color);
  @media (max-width: $sml) {
    padding: 0 30px;
  }
  &__logo {
    margin-bottom: 32px;
  }

  .content {
    width: 400px;
    background-color: #fff;
    padding: 48px 24px 60px 24px;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    @media (max-width: $sml) {
      width: 100%;
    }
    &__title {
      @include text_h1();
      text-align: center;
    }
    &__tabs {
      @include text_body();
      display: flex;
      width: 100%;
      cursor: pointer;
      padding: 4px;
      border-radius: var(--large-border-radius);
      background-color: var(--dark-white-color);
    }
    &__tab {
      flex: 50%;
      display: flex;
      padding: 8px 0;
      justify-content: center;
      border-radius: var(--medium-border-radius);
      color: var(--grey-color);
      &_active {
        background-color: var(--main-color);
        color: #fff;
      }
    }
    &__buttons {
      display: flex;
      column-gap: 8px;
    }
    &__inputs {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }
    &__forget{
      color: var( --light-main-color);
    }
    &__support {
      @include text_caption();
      color: var(--light-grey-color);
      text-align: center;
    }
  }
}