/*Grid*/
$xxl: 1600px;
$xxlc: 1552px;
$xl: 1200px;
$xlc: 1152px;
$lg: 992px;
$lgc: 864px;
$md: 768px;
$sm: 576px;
$smc: 528px;
$sml: 425px;
$smm: 375px;
$sms: 320px;
$xs: 0px;
$xsc: 100%;

//colors
$--main-background-color: var(--body-color);
$--secondary-color: var(--secondary-color);
$--main-color: var(--primary-color);
$--text-color-black: var(--black-70-color);
$--text-color-grey: var(--black-50-color);
$--text-color-grey: var(--black-50-color);

//border-radius
$--extra-small-border-radius: var(--extra-small-border-radius);
$--small-border-radius: var(--small-border-radius);
$--medium-border-radius: var(--medium-border-radius);
$--large-border-radius: var(--large-border-radius);
$--extra-large-border-radius: var(--extra-large-border-radius);
$--rounded-border-radius: var(--rounded-border-radius);

//text
@mixin text_h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

@mixin text_body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin text_subhead {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}