.button {
    @include text_subhead();

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-radius: var(--large-border-radius);
}

.button_primary {
    color: var(--body-color);
    background: var(--main-color);
}

.button_secondary {
    color: var(--body-color);
    background: var(--dangerous-color);
}

.button_lightBlack {
    color: var(--body-color);
    background: var(--light-black-color);
}

.button_grey {
    color: var(--body-color);
    background: var(--grey-color);
}

.button_whiteMain {
    color: var(--main-color);
    background: var(--dark-white-color);
}

.button_whiteDangerous {
    color: var(--dangerous-color);
    background: var(--dark-white-color);
}

.button_default {
    padding: 12px 18px;
}

.button_max {
    width: 100%;
}

.button_icon, .button_max {
    padding: 12px;
}