.container {
  position: relative;
  padding: 24px 40px;
  padding-bottom: 76px;
  @media (max-width: $md) {
    padding: 24px 13px;
  }
  &__sort {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  &__firstLine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    @media (max-width: $md) {
      flex-direction: column;
      row-gap: 24px;
    }
  }
  &__titleBlock {
    display: flex;
    column-gap: 8px;
  }
  &__title {
    @include text_h1();
  }
  .statisticsBlock {
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
  }
  .statistics {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    scrollbar-width: none;
    @media (max-width: $md) {
      height: 65vh;
    }
    &__point {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 24px;
      border-radius: var(--large-border-radius);
      background-color: var(--grey-color);
      color: var(--body-color);
      @include text_subhead();
      background-color: var(--light-main-color);
      cursor: pointer;
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    &__content {
      width: fit-content;
    }
    &__titleBlock {
      display: flex;
      align-items: center;
      column-gap: 8px;
      width: fit-content;
    }
    &__title {
      @include text_h3();
    }
    &__text {
      @include text_subhead();
      color: var(--light-grey-color);
      margin-left: 32px;
    }
    &__raiting {
      text-wrap: nowrap;
      @include text_h3();
    }
  }
}