.links {
  position: fixed;
  left: 50%;
  right: 50%;

  transform: translate(-50%, -50%);
  bottom: 0;
  width: fit-content;
  display: flex;
  height: 48px;
  padding: 4px;
  @include text_body();
  border-radius: var(--small-border-radius);
  background-color: var(--dark-white-color);
  &__link {
    width: 196px;
    color: var(--grey-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    padding: 8px 23.5px;
    border-radius: var(--small-border-radius);
    &_active {
      background-color: var(--main-color);
      color: var(--body-color);
    }
  }
}