.table {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  &_opacity {
    opacity: var(--opacity-value);
  }
  &__line {
    display: flex;
    padding-right: 35px;
    &_title {
      margin-bottom: 16px;
    }
    &_content {
      cursor: pointer;
      padding: 16px 0;
      border-bottom: 1px solid var(--ultra-light-grey-color);
      padding-right: 35px;
      &:hover {
        background-color: var(--dark-white-color);
      }
    }
    &_margin {
      padding-left: 48px !important;
    }
  }
  &__title {
    @include text_subhead();
    color: var(--grey-color);
    flex: 50%;
    padding: 0 8px;
    &:first-child {
      flex: 85%;
    }
    &:last-child {
      flex: 15%;
    }
  }
  &__content {
    padding: 0 8px;
    @include text_body();
    color: var(--grey-color);
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    &_name {
      flex: 85%;
    }
    &_raiting {
      flex: 15%;
    }
  }
  &__block {
    cursor: pointer;
    position: relative;
  }
  &__icon {
    position: absolute;
    right: 8px;
    &_open {
      transform: rotate(180deg);
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 70px;
  &__control {
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: var(--dark-white-color);
    border-radius: var(--medium-border-radius);
    &_active {
      cursor: pointer;
    }
  }
}