@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /* Border radius */
  --extra-small-border-radius: 4px;
  --small-border-radius: 8px;
  --medium-border-radius: 12px;
  --large-border-radius: 16px;
  --extra-large-border-radius: 28px;
  --rounded-border-radius: 50%;
  
  /* Colors */
  --primary-color: #0B63C1;
  --secondary-color: #EF302B;
  --body-color: #FFFFFF;

  --black-70-color: #111111;
  --black-60-color: #333333;
  --black-50-color: #666666;
  --black-40-color: #999999;
  --black-30-color: #DDDDDD;
  --black-20-color: #F6F6F6;

  --background-blur-color: #00000066;

  /* Fonts Sizes */
  --h1-font-size: 36px;
  --h2-font-size: 24px;
  --h3-font-size: 22px;
  --subhead-font-size: 18px;
  --body-font-size: 16px;
  --headline-font-size: 14px;
  --caption-font-size: 12px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
}
